<div class="element-wrapper {{content.element}}">
    <div class="element-page-break element-page-break-right"></div>
    <div class="element-page-pad-right">
        <h1 {% if content.id %}id="{{content.id}}"{% endif %} class="element-title">
            {% if content.number %}
            <span class="element-number">Chapter {{content.number}}:</span>
            {% endif %}
            {{content.title}}
        </h1>
        {{html}}
    </div>
</div>
