p {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 2em;
}

body.legal p, body.toc p {
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 1em;
}

body.dedication p {
    text-indent: 0;
    margin-top: 1em;
    text-align: center;
}

p.center {
    text-align: center;
}

.toc-1 {
    margin-left: 1em;
}

.toc-2 {
    margin-left: 2em;
}

/*
 * Chapter Headers
 */

.element-header {
    text-align: right;
}

.element-title {
    text-align: right;
}

/*
 * Title
 */

div.title {
    text-align: center;

    .large {
        font-weight: bold;
        font-size: 200%;
    }

    .medium {
        font-weight: bold;
        font-size: 150%;
    }

    .author {
        margin-top: 2rem;
        font-size: 150%;
    }

    .publisher {
        margin-top: 2rem;
    }
}

/*
 * Epigraphs
 */

blockquote.epigraph {
    font-size: small;
    padding-left: 2em;
    padding-right: 2em;
    word-wrap: break-word;

    p {
        text-indent: 0;
    }

    p.attribution {
        text-align: right;
    }
}

/**
 * Chapter Plates
 */

div.plate {
    text-align: center;
}

/*
 * Rules
 */

div.rule {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
