<div class="element-page-break element-page-break-dedication"></div>
<div class="{{content.element}}">
    {% if content.id %}<div class="anchor" id="{{content.id}}"></div>{% endif %}
    {{html}}
</div>
