<div class="{{content.element}}">
    <div class="element-page-break element-page-break-right"></div>
    <div class="element-page-pad-right">
        <div class="element-header">
            {% if content.number %}
            <span class="short-bar"></span>
            <span class="text">Preface {{content.number}}</span>
            <span class="short-bar"></span>
            {% else %}
            <span class="long-bar"></span>
            {% endif %}
        </div>

        <h1 {% if content.id %}id="{{content.id}}"{% endif %} class="element-title">{{content.title}}</h1>
        {{html}}
    </div>
</div>
