<div class="{{content.element}}">
    <div class="element-header">
        <span class="long-bar"></span>
    </div>

    <h1 {% if content.id %}id="{{content.id}}"{% endif %} class="element-title">{{content.title}}</h1>

    {{html}}
</div>
